body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(200deg, #c76e2e, #ef32d9);
}

form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: transform 1.2s ease;
}



label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5b559d;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #732704;
    box-shadow: 0 4px 8px #732704;
    outline: none;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #3e8e41;
    transform: translateY(0);
}

h4 {
    margin: 0;
    color: #555;
}

input::placeholder {
    color: #aaa;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::placeholder {
    opacity: 0.5;
}

form > *:not(:last-child) {
    margin-bottom: 1rem;
}
